<%- css('css/new-index') %>

<div class="main__block">
  <div class="container">
    <div class="outer__main">
      <div class="head__main">
        <div class="small__head">
          <a href="/">
            <img src="<%- url_for("/images/new/logofirst.svg") %>" alt="logofirst">
          </a>
          <div class="menu__icon">
            <a href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
        <div class="container__head">
          <a href="/">
            <img src="<%- url_for("/images/new/logofirst.svg") %>" alt="logofirst">
          </a>
          <div class="head__menu--wrapper">
            <ul>
              <li><a href="<%- url_for("/guide/") %>">Guide</a></li>
              <li><a href="<%- url_for("/tags/") %>">Tags</a></li>
              <li><a href="<%- url_for("/templates/") %>">Templates</a></li>
              <li><a href="<%- url_for("/playground/") %>">Playground</a></li>
              <li><a href="<%- url_for("/blog/") %>">Blog</a></li>
            </ul>
          </div>
          <div class="search__head">
            <input type="text" placeholder="Search" id="local-search-input">
            <input type="submit" value="">
          </div>
        </div>

        <div id="local-search-result-wrapper"></div>
        <script>
          var search_path = "<%= config.search.path %>";
          if (search_path.length === 0) {
            search_path = "search.xml";
          }
          var path = "<%= config.root %>" + search_path;
          searchFunc(path, 'local-search-input', 'local-search-result-wrapper');
        </script>
      </div>
      <div class="main__content">
        <div class="left__content">
          <h1>Open Source <br>
          Data  <span>Labeling</span>  Tool</h1>
          <p>Data Science starts with data. <br>
          Label Studio removes the pain labeling it.</p>
          <div class="release__info">
            <a href="http://localhost:4000/blog/release-080-time-series-labeling.html" class="release__info--inner">
              <span>New</span>
              <p>Release <span>0.8.0</span></p>
            </a>
            <p>Time Series is Everywhere!</p>
          </div>
          <div class="commit__info">
            <a href="https://github.com/heartexlabs/label-studio" class="commit--inner" target="_blank">
              <span class="star__span"><img src="<%- url_for("/images/new/staricon.svg") %>" alt="starticon"> Star</span>
              <span class="commit__counter">
                3.7k
              </span>
            </a>
            <p>Last commit: today</p>
          </div>
        </div>
        <div class="right__content">
          <div class="content__switcher">
            <h6>Quick Start</h6>
            <div class="switcher__inner">
              <ul>
                <li class="active__switcher"><a href="#" data-block="content1">PIP</a></li>
                <li><a href="#" data-block="content2">Docker</a></li>
                <li><a href="#" data-block="content3">Git</a></li>
              </ul>
            </div>
          </div>
          <div class="content__wrapper">
            <div class="content__elem content1">
              <div class="desktop__code">
                <p class="title__code"><span class="counter">1</span># Install the Package</p>
                <p class="code__content"><span class="counter">2</span>pip install label-studio</p>
                <p class="spacer"><span class="counter">3</span></p>
                <p class="title__code"><span class="counter">4</span># Create a New Project</p>
                <p class="code__content"><span class="counter">5</span>label-studio init my_project</p>
                <p class="spacer"><span class="counter">6</span></p>
                <p class="title__code"><span class="counter">7</span># Launch It!</p>
                <p class="code__content"><span class="counter">8</span>label-studio start my_project</p>
              </div>
              <div class="mobile__code">
                <p class="title__code"><span class="counter">1</span># Install the Package</p>
                <p class="code__content"><span class="counter">2</span>pip install label-studio</p>
                <p class="spacer"><span class="counter">3</span></p>
                <p class="title__code"><span class="counter">4</span># Create a New Project</p>
                <p class="code__content"><span class="counter">5</span>label-studio init</p>
                <p class="code__content"><span class="counter">6</span>my_project</p>
                <p class="spacer"><span class="counter">7</span></p>
                <p class="title__code"><span class="counter">8</span># Launch It!</p>
                <p class="code__content"><span class="counter">9</span>label-studio start</p>
                <p class="code__content"><span class="counter">10</span>my_project</p>
              </div>
            </div>

            <div class="content__elem content2" style="display:none;">
              <div class="desktop__code">
                <p class="title__code"><span class="counter">1</span># 1Install the Package</p>
                <p class="code__content"><span class="counter">2</span>pip install label-studio</p>
                <p class="spacer"><span class="counter">3</span></p>
                <p class="title__code"><span class="counter">4</span># Create a New Project</p>
                <p class="code__content"><span class="counter">5</span>label-studio init my_project</p>
                <p class="spacer"><span class="counter">6</span></p>
                <p class="title__code"><span class="counter">7</span># Launch It!</p>
                <p class="code__content"><span class="counter">8</span>label-studio start my_project</p>
              </div>
              <div class="mobile__code">
                <p class="title__code"><span class="counter">1</span># 1Install the Package</p>
                <p class="code__content"><span class="counter">2</span>pip install label-studio</p>
                <p class="spacer"><span class="counter">3</span></p>
                <p class="title__code"><span class="counter">4</span># Create a New Project</p>
                <p class="code__content"><span class="counter">5</span>label-studio init</p>
                <p class="code__content"><span class="counter">6</span>my_project</p>
                <p class="spacer"><span class="counter">7</span></p>
                <p class="title__code"><span class="counter">8</span># Launch It!</p>
                <p class="code__content"><span class="counter">9</span>label-studio start</p>
                <p class="code__content"><span class="counter">10</span>my_project</p>
              </div>
            </div>

            <div class="content__elem content3" style="display:none;">
              <div class="desktop__code">
                <p class="title__code"><span class="counter">1</span># 2Install the Package</p>
                <p class="code__content"><span class="counter">2</span>pip install label-studio</p>
                <p class="spacer"><span class="counter">3</span></p>
                <p class="title__code"><span class="counter">4</span># Create a New Project</p>
                <p class="code__content"><span class="counter">5</span>label-studio init my_project</p>
                <p class="spacer"><span class="counter">6</span></p>
                <p class="title__code"><span class="counter">7</span># Launch It!</p>
                <p class="code__content"><span class="counter">8</span>label-studio start my_project</p>
              </div>
              <div class="mobile__code">
                <p class="title__code"><span class="counter">1</span># 2Install the Package</p>
                <p class="code__content"><span class="counter">2</span>pip install label-studio</p>
                <p class="spacer"><span class="counter">3</span></p>
                <p class="title__code"><span class="counter">4</span># Create a New Project</p>
                <p class="code__content"><span class="counter">5</span>label-studio init</p>
                <p class="code__content"><span class="counter">6</span>my_project</p>
                <p class="spacer"><span class="counter">7</span></p>
                <p class="title__code"><span class="counter">8</span># Launch It!</p>
                <p class="code__content"><span class="counter">9</span>label-studio start</p>
                <p class="code__content"><span class="counter">10</span>my_project</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="date__type">
  <div class="container">
    <div class="outer__date">
      <div class="head__date--type">
        <h6>Label Every Data Type</h6>
        <div class="switcher__inner">
          <ul>
            <li class="active__switcher"><a href="#" data-block="date1">Images</a></li>
            <li><a href="#" data-block="date2">Audio</a></li>
            <li><a href="#" data-block="date3">Text</a></li>
            <li><a href="#" data-block="date4">Time Series</a></li>
            <li><a href="#" data-block="date5">PDF</a></li>
            <li><a href="#" data-block="date6">Video</a></li>
            <li><a href="#" data-block="date7">Mixed Type</a></li>
          </ul>
        </div>
      </div>
      <div class="content__date">
        <div class="elem__date date1">
          <div class="inner__elem--date">
            <div class="left__date">
              <h2>Audio Segmentation1</h2>
              <div class="inner__date--content">
                <div class="elem__inner--date">
                  <span>Classification</span>
                  <p>Put audio into categories.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Speaker Diarisation</span>
                  <p>Partition an input audio stream into homogeneous segments according to the speaker identity.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Emotion Recognition</span>
                  <p>Tag and identify emotion from the audio.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Transcription</span>
                  <p>Write down verbal communication in text.</p>
                </div>
              </div>
            </div>
            <div class="right__date">
              <img src="<%- url_for("/images/new/date1.svg") %>" alt="date">
            </div>
          </div>
        </div>
        <div class="elem__date date2" style="display:none;">
          <div class="inner__elem--date">
            <div class="left__date">
              <h2>Audio Segmentation2</h2>
              <div class="inner__date--content">
                <div class="elem__inner--date">
                  <span>Classification</span>
                  <p>Put audio into categories.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Speaker Diarisation</span>
                  <p>Partition an input audio stream into homogeneous segments according to the speaker identity.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Emotion Recognition</span>
                  <p>Tag and identify emotion from the audio.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Transcription</span>
                  <p>Write down verbal communication in text.</p>
                </div>
              </div>
            </div>
            <div class="right__date">
              <img src="<%- url_for("/images/new/date1.svg") %>" alt="date">
            </div>
          </div>
        </div>
        <div class="elem__date date3" style="display:none;">
          <div class="inner__elem--date">
            <div class="left__date">
              <h2>Audio Segmentation3</h2>
              <div class="inner__date--content">
                <div class="elem__inner--date">
                  <span>Classification</span>
                  <p>Put audio into categories.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Speaker Diarisation</span>
                  <p>Partition an input audio stream into homogeneous segments according to the speaker identity.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Emotion Recognition</span>
                  <p>Tag and identify emotion from the audio.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Transcription</span>
                  <p>Write down verbal communication in text.</p>
                </div>
              </div>
            </div>
            <div class="right__date">
              <img src="<%- url_for("/images/new/date1.svg") %>" alt="date">
            </div>
          </div>
        </div>
        <div class="elem__date date4" style="display:none;">
          <div class="inner__elem--date">
            <div class="left__date">
              <h2>Audio Segmentation4</h2>
              <div class="inner__date--content">
                <div class="elem__inner--date">
                  <span>Classification</span>
                  <p>Put audio into categories.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Speaker Diarisation</span>
                  <p>Partition an input audio stream into homogeneous segments according to the speaker identity.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Emotion Recognition</span>
                  <p>Tag and identify emotion from the audio.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Transcription</span>
                  <p>Write down verbal communication in text.</p>
                </div>
              </div>
            </div>
            <div class="right__date">
              <img src="<%- url_for("/images/new/date1.svg") %>" alt="date">
            </div>
          </div>
        </div>
        <div class="elem__date date5" style="display:none;">
          <div class="inner__elem--date">
            <div class="left__date">
              <h2>Audio Segmentation5</h2>
              <div class="inner__date--content">
                <div class="elem__inner--date">
                  <span>Classification</span>
                  <p>Put audio into categories.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Speaker Diarisation</span>
                  <p>Partition an input audio stream into homogeneous segments according to the speaker identity.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Emotion Recognition</span>
                  <p>Tag and identify emotion from the audio.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Transcription</span>
                  <p>Write down verbal communication in text.</p>
                </div>
              </div>
            </div>
            <div class="right__date">
              <img src="<%- url_for("/images/new/date1.svg") %>" alt="date">
            </div>
          </div>
        </div>
        <div class="elem__date date6" style="display:none;">
          <div class="inner__elem--date">
            <div class="left__date">
              <h2>Audio Segmentation6</h2>
              <div class="inner__date--content">
                <div class="elem__inner--date">
                  <span>Classification</span>
                  <p>Put audio into categories.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Speaker Diarisation</span>
                  <p>Partition an input audio stream into homogeneous segments according to the speaker identity.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Emotion Recognition</span>
                  <p>Tag and identify emotion from the audio.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Transcription</span>
                  <p>Write down verbal communication in text.</p>
                </div>
              </div>
            </div>
            <div class="right__date">
              <img src="<%- url_for("/images/new/date1.svg") %>" alt="date">
            </div>
          </div>
        </div>
        <div class="elem__date date7" style="display:none;">
          <div class="inner__elem--date">
            <div class="left__date">
              <h2>Audio Segmentation7</h2>
              <div class="inner__date--content">
                <div class="elem__inner--date">
                  <span>Classification</span>
                  <p>Put audio into categories.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Speaker Diarisation</span>
                  <p>Partition an input audio stream into homogeneous segments according to the speaker identity.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Emotion Recognition</span>
                  <p>Tag and identify emotion from the audio.</p>
                </div>
                <div class="elem__inner--date">
                  <span>Transcription</span>
                  <p>Write down verbal communication in text.</p>
                </div>
              </div>
            </div>
            <div class="right__date">
              <img src="<%- url_for("/images/new/date1.svg") %>" alt="date">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="label__studio--block">
  <div class="container">
      <div class="outer__label">
      <img src="<%- url_for("/images/new/leftoverlay.svg") %>" alt="leftoverlay" class="left__overlay">
      <img src="<%- url_for("/images/new/rightoverlay.svg") %>" alt="rightoverlay" class="right__overlay">
      <div class="head__label">
        <h2>Already Using Label Studio</h2>
      </div>
      <div class="content__label">
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo1.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo2.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo3.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo4.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo5.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo6.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo7.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo8.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo1.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo2.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo3.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo4.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo5.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo6.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo7.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo8.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo1.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo2.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo3.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo4.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo5.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo6.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo7.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo8.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo1.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo2.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo3.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo4.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo5.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo6.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo7.svg") %>" alt="logo">
        </div>
        <div class="elem__label">
          <img src="<%- url_for("/images/new/logo8.svg") %>" alt="logo">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="video__block">
  <div class="container">
    <div class="outer__video">
      <div class="head__video">
        <h2>Watch the Video Guide</h2>
      </div>
      <div class="content__video">
        <div class="elem__video">
          <div class="author__button">
            <a href="#">2 mins intro <span><img src="<%- url_for("/images/new/youtubeicon.svg") %>" alt="youtubeicon"></span></a>
          </div>
          <div class="video__title">
            <h6>Flexible
            and Configurable</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. lorem ipsum dololom</p>
          </div>
          <div class="video__author">
            <div class="author__info">
              <p><span>by</span> Nikolai Liubimov</p>
              <span>Core ML Engineer</span>
            </div>
            <div class="author__image">
              <img src="<%- url_for("/images/new/author2.svg") %>" alt="author1">
            </div>
          </div>
        </div>
        <div class="elem__video">
          <div class="author__button">
            <a href="#"><span><img src="<%- url_for("/images/new/youtubeicon.svg") %>" alt="youtubeicon"></span> Watch</a>
          </div>
          <div class="video__title">
            <h6>Flexible
            and Configurable</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.</p>
          </div>
          <div class="video__author">
            <div class="author__info">
              <p><span>by</span> Nikolai Liubimov</p>
              <span>Core ML Engineer</span>
            </div>
            <div class="author__image">
              <img src="<%- url_for("/images/new/author2.svg") %>" alt="author1">
            </div>
          </div>
        </div>
        <div class="elem__video">
          <div class="author__button">
            <a href="#"><span><img src="<%- url_for("/images/new/youtubeicon.svg") %>" alt="youtubeicon"></span> Watch</a>
          </div>
          <div class="video__title">
            <h6>Flexible
            and Configurable</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.</p>
          </div>
          <div class="video__author">
            <div class="author__info">
              <p><span>by</span> Nikolai Liubimov</p>
              <span>Core ML Engineer</span>
            </div>
            <div class="author__image">
              <img src="<%- url_for("/images/new/author2.svg") %>" alt="author1">
            </div>
          </div>
        </div>
        <div class="elem__video">
          <div class="author__button">
            <a href="#"><span><img src="<%- url_for("/images/new/youtubeicon.svg") %>" alt="youtubeicon"></span> Watch</a>
          </div>
          <div class="video__title">
            <h6>Flexible
            and Configurable</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.</p>
          </div>
          <div class="video__author">
            <div class="author__info">
              <p><span>by</span> Nikolai Liubimov</p>
              <span>Core ML Engineer</span>
            </div>
            <div class="author__image">
              <img src="<%- url_for("/images/new/author2.svg") %>" alt="author1">
            </div>
          </div>
        </div>
        <div class="elem__video">
          <div class="author__button">
            <a href="#"><span><img src="<%- url_for("/images/new/youtubeicon.svg") %>" alt="youtubeicon"></span> Watch</a>
          </div>
          <div class="video__title">
            <h6>Flexible
            and Configurable</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.</p>
          </div>
          <div class="video__author">
            <div class="author__info">
              <p><span>by</span> Nikolai Liubimov</p>
              <span>Core ML Engineer</span>
            </div>
            <div class="author__image">
              <img src="<%- url_for("/images/new/author2.svg") %>" alt="author1">
            </div>
          </div>
        </div>
        <div class="elem__video">
          <div class="author__button">
            <a href="#"><span><img src="<%- url_for("/images/new/youtubeicon.svg") %>" alt="youtubeicon"></span> Watch</a>
          </div>
          <div class="video__title">
            <h6>Flexible
            and Configurable</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.</p>
          </div>
          <div class="video__author">
            <div class="author__info">
              <p><span>by</span> Nikolai Liubimov</p>
              <span>Core ML Engineer</span>
            </div>
            <div class="author__image">
              <img src="<%- url_for("/images/new/author2.svg") %>" alt="author1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	
<div class="community__block">
  <div class="container">
    <img src="<%- url_for("/images/new/opossum.svg") %>" alt="opossum" class="opossum__image">
    <div class="outer__community">
      <div class="head__community">
        <h2>Global Community</h2>
      </div>
      <div class="inner__community">
        <img src="<%- url_for("/images/new/overlayleft.svg") %>" alt="overlayleft" class="lf__overlay">
        <img src="<%- url_for("/images/new/overlayright.svg") %>" alt="overlayright" class="rg__overlay">
        <div class="info__community">
          <div class="column__community">
            <p>Join the largest community of Data Scientists working on enhancing their models</p>
            <p>Model frameworks integrations</p>
          </div>
          <div class="column__community">
            <p>Slack channel with more than <span>600</span> members, <span>1000</span> threads, and <span>3000</span> answers</p>
            <p>Millions of data items labeled</p>
          </div>
        </div>
        <div class="community__main">
          <h6>Thanks to Our Contributors</h6>
          <div class="community__wrapper">

            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community1.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Andrew Gurylev</p>
                <a href="#"><span>@</span> fogrew </a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community2.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Mike Ash</p>
                <a href="#"><span>@</span>mikeash</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community3.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Sergey Glazov</p>
                <a href="#"><span>@</span>sglazov</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community4.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Andrey Sitnik</p>
                <a href="#"><span>@</span>ai</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community5.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Peter Dmitrienko</p>
                <a href="#"><span>@</span>dmitrienkop</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community6.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Artur Paikin</p>
                <a href="#"><span>@</span>arturi</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community7.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Artem Tenorovsky</p>
                <a href="#"><span>@</span>tenorok</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community8.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Carlos Melegrito</p>
                <a href="#"><span>@</span>mlgrt</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community1.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Andrew Gurylev</p>
                <a href="#"><span>@</span> fogrew </a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community2.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Mike Ash</p>
                <a href="#"><span>@</span>mikeash</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community3.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Sergey Glazov</p>
                <a href="#"><span>@</span>sglazov</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community4.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Andrey Sitnik</p>
                <a href="#"><span>@</span>ai</a>
              </div>
            </div>
            <div class="elem__community">
              <div class="community__image">
                <img src="<%- url_for("/images/new/communityborder.svg") %>" alt="communityborder" class="community__border">
                <img src="<%- url_for("/images/new/community5.svg") %>" class="community__team">
              </div>
              <div class="community__info">
                <p>Peter Dmitrienko</p>
                <a href="#"><span>@</span>dmitrienkop</a>
              </div>
            </div>
            <div class="community__spacer"></div>
          </div>
        </div>
        <div class="after__community">
          <a href="#">
            <span><img src="<%- url_for("/images/new/logoslack.svg") %>" alt="logoslack"></span>
            Join Slack
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom__part">
  <div class="articles__block">
    <div class="container">
      <div class="head__articles">
        <h2>Latest Articles</h2>
        <p>For Data Scientists, Frontend and Backend Developers, and UX Researchers</p>
      </div>
      <div class="inner__articles">
        <div class="elem__article">
          <h6>How to Fine-Tune BERT to Classify Your Slack Chats without Coding</h6>
          <p>Slack chats can become messy with time, proving difficult to extract meaningful information…</p>
          <div class="article__button">
            <a href="#">Read More →</a>
          </div>
        </div>
        <div class="elem__article">
          <h6>Time Series Data Labeling</h6>
          <p>Time series is everywhere! Devices, sensors and events produce time series, for example, your heartbeat…</p>
          <div class="article__button">
            <a href="#">Read More →</a>
          </div>
        </div>
        <div class="elem__article">
          <h6>Learn Faster with Smarter Data Labeling</h6>
          <p>Findings on optimizing the labeling process with different active learning techniques…</p>
          <div class="article__button">
            <a href="#">Read More →</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="outer__footer">
        <div class="elem__footer">
          <a href="#">
            <img src="<%- url_for("/images/new/logofooter.svg") %>" alt="logofooter">
          </a>
          <ul class="social__list">
            <li><a href="#"><img src="<%- url_for("/images/new/foot1.svg") %>" alt="footerlogo"></a></li>
            <li><a href="#"><img src="<%- url_for("/images/new/foot2.svg") %>" alt="footerlogo"></a></li>
            <li><a href="#"><img src="<%- url_for("/images/new/foot3.svg") %>" alt="footerlogo"></a></li>
            <li><a href="#"><img src="<%- url_for("/images/new/foot4.svg") %>" alt="footerlogo"></a></li>
            <li><a href="#"><img src="<%- url_for("/images/new/foot5.svg") %>" alt="footerlogo"></a></li>
            <li><a href="#"><img src="<%- url_for("/images/new/foot6.svg") %>" alt="footerlogo"></a></li>
          </ul>
          <p class="copyright">© 2020 Heartex, Inc.</p>
        </div>
        <div class="elem__footer">
          <p>Products</p>
          <ul>
            <li><a href="https://heartex.com">Enterprise</a></li>
            <li><a href="https://labelstud.io">Label Studio</a></li>
          </ul>
        </div>
        <div class="elem__footer">
          <p>Solutions</p>
          <ul>
            <li><a href="#">Text</a></li>
            <li><a href="#">Audio</a></li>
            <li><a href="#">Images</a></li>
            <li><a href="#">Time Series</a></li>
            <li><a href="#">Mixed-Type</a></li>
          </ul>
        </div>
        <div class="elem__footer">
          <p>Resources</p>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">What's New</a></li>
          </ul>
        </div>
        <div class="elem__footer">
          <p>Company</p>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms and Privacy</a></li>
          </ul>
        </div>
        <div class="small__copyright">
          <p>© 2020 Heartex, Inc.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="<%- url_for("/js/new-index.js") %>"></script>
